<nav class="navbar navbar-expand-lg navbar-dark bg-info" 
     style="position: sticky; top: 0; z-index: 999;">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold" routerLink="/">BL EComm</a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left Side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Language Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Hindi</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

       
        <!-- Buyer -->
        <li class="nav-item" >
          <a class="nav-link" routerLink="/buyer-dashboard">Orders</a>
        </li>

        <!-- Admin Orders -->
        <li class="nav-item" >
          <a class="nav-link" routerLink="/buyer-dashboard">All Orders</a>
        </li>

        <!-- Seller Product -->
        <li class="nav-item" >
          <a class="nav-link" routerLink="/seller/product">Products</a>
        </li>

        <!-- Admin Products -->
        <li class="nav-item" >
          <a class="nav-link" routerLink="/admin/product">All Products</a>
        </li>

        <!-- Admin Users -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/user">Users</a>
        </li>

        <!-- Contact -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us</a>
        </li>

      </ul>

      <!-- Search bar -->
      <form class="d-flex me-3" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit">
          Search
        </button>
      </form>

      <!-- Right Side Buttons -->
      <ul class="navbar-nav mb-2 mb-lg-0">

        <!-- Sign In/Up (when logged out) -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/sign-in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sign-up">Sign Up</a>
          </li>
      

        <!-- Logged In -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sim-pointer" >Logout</a>
          </li>

      </ul>

    </div>
  </div>
</nav>
