<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img24/Media/Unrec/Hero/Live_PC_Hero_Lifestyle_3000x1200-m-2x._CB779541447_.jpg" 
           class="d-block w-100" alt="Electronics Banner">
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/yesbank/makeup_PC._CB796616147_.png" 
           class="d-block w-100" alt="Mobile Phones Banner">
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="https://m.media-amazon.com/images/I/71tIrZqybrL._SX3000_.jpg" 
           class="d-block w-100" alt="Fashion Banner">
    </div>

    <!-- Slide 4 -->
    <div class="carousel-item">
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/af_pc_2x._CB792409181_.jpg" 
           class="d-block w-100" alt="Fashion">
    </div>

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
